<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Sendling</string>
	<key>CFBundleDisplayName</key>
	<string>Sendling</string>
	<key>CFBundleIdentifier</key>
	<string>com.hellocomputer.Sendling</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleExecutable</key>
	<string>Sendling</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Brandon Walter. MIT License.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Sendling notifies you when uploads finish.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Any File or Folder</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.item</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Send with Sendling</string>
			</dict>
			<key>NSMessage</key>
			<string>sendFiles</string>
			<key>NSPortName</key>
			<string>Sendling</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Compress &amp; Send with Sendling</string>
			</dict>
			<key>NSMessage</key>
			<string>compressAndSendFiles</string>
			<key>NSPortName</key>
			<string>Sendling</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
